body {
    background: linear-gradient(to bottom, rgb(3, 3, 101), rgb(60, 131, 229)) no-repeat;
    min-height: 100vh;
}
.nav-wrapper {
    background-color: rgb(3, 3, 101);
    height: 64px;
}
#brand-logo {
    padding-left: 20px;
    color: rgb(248, 248, 62);
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#nav-mobile li a {
    color: rgb(248, 248, 62);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#nav-mobile li button:hover {
    color: rgb(60, 131, 229);
    cursor: pointer;
    transform: scale(1.1);
}
.nav-link {
    text-decoration: none;
    color: rgb(248, 248, 62);
    background-color: rgb(3, 3, 101);
    padding: 0 10px;
    border-color: transparent;
    height: 60px;
}
.card {
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    display: flex;
    width: 400px;
    height: 350px;
    box-shadow: 0 4px 8px 0 #00000033;
    border-radius: 10px;
    overflow: hidden;
    font-size: 20px;
}
.card-image img {
    width: 100%;
    height: 100%;
}
.card-title {
    color: rgb(3, 3, 101);
    padding: 10px;
}
.card-content {
    padding: 10px;
}
#custom-button {
    color: rgb(3, 3, 101);
    background-color: rgb(248, 248, 62);
}
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
#searchBtn {
    margin-top: 10px;
    background-color: rgba(248, 248, 62, 0.929);
    color: rgb(3, 3, 101);
}
.searchContainer {
    width: 50%;
    height: 150px;
    margin-left: 25%;
    background-color: rgba(3, 3, 101, 0);
    border-radius: 20px;
}
.input-field {
    width: 100%;
    height: 50px;
    background-color: rgba(3, 3, 101, 0);
}
.validate {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}